[Unit]
Description=OpenQA dockerized worker
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a openqa_worker_%i
ExecStop=/usr/bin/docker stop -t 2 openqa_worker_%i

[Install]
WantedBy=multi-user.target
